.element__like {
  width: 22px;
  min-height: 19px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.element__like:active {
  background-image: url("../../../images/like-active.svg");
}

.element__like:hover {
  opacity: 0.5
}
