.popup__container {
  position: relative;
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px;
  margin: 0 19px;
  box-sizing: border-box;
}

@media screen and (max-width: 445px){
  .popup__container {
    width: 282px;
    min-height: 322px;
    padding: 25px 22px;
    margin: 0;
  }
}
