.profile__info {
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: 39px 18px;
  gap: 16px 18px;
  min-height: 73px;
}

@media screen and (max-width: 635px){
  .profile__info{
    justify-items: center;
    margin: 0 0 36px;
    gap: 14px 10px;
  }
}

@media screen and (max-width: 445px){
  .profile__info{
    grid-template-columns: 189px 24px;
    grid-template-rows: 26px 14px;
  }
}
