.edit-form__close-button {
  position: absolute;
  top: -48px;
  right: -48px;
  width: 58px;
  min-height: 58px;
  background-image: url("../../../images/close-icon.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.edit-form__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px){
  .edit-form__close-button {
    top: calc(-58px - 14px);
    right: 0;
  }
}

@media screen and (max-width: 445px){
  .edit-form__close-button {
    width: 38px;
    min-height: 38px;
    top: calc(-38px - 14px);
  }
}
